[Unit]
Description=%p - %i
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=DEPLOY_KEY=/etc/meteor/deploy_key
Environment=BIND_IP=0.0.0.0
Environment=ROOT_URL=https://myapp.mydomain.com
Environment=PORT=3000
Environment=REPO=git@github.com:MyOrg/myrepo.git
Environment=BRANCH=prod
Environment=MONGO_URL=mongodb://x.y.com:27017,y.z.com:27017,10.40.80.120:27017/invoice
ExecStartPre=-/usr/bin/docker pull ulexus/meteor
ExecStartPre=-/usr/bin/docker pull ibuildthecloud/systemd-docker
ExecStartPre=-/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/opt/bin/systemd-docker --env run --rm --name %p -p ${PORT}:${PORT} -v /etc/meteor:/etc/meteor ulexus/meteor
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15
